<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- TITLE OF SITE -->
    <title> CodeAccounting | Efficient Business Management</title>

    <meta name="description" content="Complete office support" />
    <meta name="keywords" content="codeaccounting, accounting, bookkeeping, consulting, operations, tax prep, online accounting, tax preparation," />
    <meta name="author" content="CodeAccounting">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- FAVICON  -->
    <!-- <link rel="icon" href="assets/images/favicon/favicon.ico"> -->

    <!-- =========================
       STYLESHEETS
    ============================== -->

    <!-- BOOTSTRAP CSS -->
    <!-- <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css"> -->
    <%= stylesheet_link_tag "bootstrap.min.css" %>

    <!-- FONT ICONS -->
    <!-- <link rel="stylesheet" href="assets/css/icons/icons.min.css"> -->
    <%= stylesheet_link_tag "icons.min.css" %>

    <!-- GOOGLE FONTS -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet"> -->
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" unless Rails.env.test? %>
    <!-- PLUGINS STYLESHEET -->
    <!-- <link rel="stylesheet" href="assets/css/plugins/plugins.min.css"> -->
    <%= stylesheet_link_tag "plugins.min.css" %>

    <!-- CUSTOM STYLESHEET -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <%= stylesheet_link_tag "style.css" %>
    <!-- RESPONSIVE FIXES -->
    <!-- <link rel="stylesheet" href="assets/css/responsive.css"> -->
    <%= stylesheet_link_tag "responsive.css" %>
    <!-- COLORE STYLESHEET -->
    <!-- Change here the Main Color of the Site: Choose your favorite predefined color from assets/css/colors.css -->
    <!-- <link rel="stylesheet" href="assets/css/colors/red.css" title="red"> -->
    <%= stylesheet_link_tag "green.css" %>

    <!--[if lt IE 9]>
            <script src="assets/js/plugins/html5shiv.min.js"></script>
            <script src="assets/js/plugins/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="main-wrapper">


        <!-- =========================
             HEADER
        ============================== -->
        <header class="header" id="top" data-stellar-background-ratio="0.5">
            <!-- Background Overlay -->
            <div class="overlay">

                <!-- =========================================
                     Navigation
                ========================================== -->
                <nav class="navbar navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Navbar-Header -->
                                <div class="navbar-header">

                                    <!-- Mobile Menu -->
                                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                        <i class="icon icon_menu"></i>
                                    </button>

                                    <!-- Text-Logo -->
                                    <a href="#top" class="navbar-brand scrollto" title="CodeAccounting">
                                        <span class="text-logo">CodeAccounting </class></span>
                                    </a>

                                    <!-- Image-Logo: Remove this comments and the section above Text-Logo if you want to add an Image-Logo (recommended sizes -> max-height:50, max-width:200)

                                    <a href="#top" class="navbar-brand img-logo scrollto" title="SmartMvp">
                                        <img src="assets/images/logo.png" alt="Logo">
                                    </a>
                                    -->

                                </div><!-- /End Navbar-Header -->

                                <!-- Navbar-Collapse -->
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <!-- Menu Items -->
                                        <li><a href="#about" title="" class="scrollto">About</a></li>
                                        <li><a href="#charts" title="" class="scrollto">Features</a></li>
                                        <li><a href="#pricing" title="" class="scrollto">Pricing</a></li>
                                        <li><a href="#testimonials" title="" class="scrollto">Testimonials</a></li>
                                        <!-- <li><a href="#team" title="" class="scrollto">Team</a></li> -->
                                        <!-- <li><a href="#mobile-download" title="" class="scrollto">Mobile</a></li> -->
                                        <!-- Login and Signup Modal on click -->
                                        <!-- <li><a class="btn btn-nav" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Login</a></li> -->
                                        <li><a href="#canvas-bg" class="btn btn-nav btn-color scrollto">Sign Up </a></li>
                                        <!-- <li><a class="btn btn-nav btn-color" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Sign Up</a></li> -->
                                        <!-- <li><a class="btn btn-nav btn-color" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Sign Up</a></li> -->
                                    </ul>
                                </div><!-- /End Navbar-Collapse -->
                            </div><!-- /End Col -->
                        </div><!-- /End Row -->
                    </div><!-- /End Container -->
                </nav><!-- /End Sticky Navigation -->


                <!-- =========================================
                     Login/Signup Bootstrap Modal
                ==========================================  -->
                <%= form_for Contact.new do |f| %>
                <div class="modal fade login" id="loginModal">
                    <div class="modal-dialog">
                        <div class="modal-content">


                            <!-- Modal-Header -->
                            <div class="modal-header">
                                <!-- Close Button -->
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <i class="icon icon_close_alt2"></i>
                                </button>
                                <!-- Modal-Header Title-->
                                <h4 class="modal-title">Sign up for <span>CodeAccounting</span></h4>
                                <p class="modal-subtitle">Enter your contact information</p>
                            </div><!-- /End Modal-Header -->

                            <!-- Modal-Body Content -->
                            <div class="modal-body">
                                <div class="box">
                                     <div class="content">
                                        <!-- Login Form -->
                                        <div class="loginBox">
                                            <!-- <form id="login-modal" role="form"> -->
                                                <!-- Success/Alert Notification -->
                                                <!-- <p class="lm-success"><i class="icon icon_check_alt2"></i> <strong>Congratulation! Login modal validation is working. Implement your code.</strong></p> -->
                                                <!-- <p class="lm-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p> -->
                                                <!-- Input Fields -->
                                                <!-- <%#= form_for Contact.new do |f| %> -->
                                                <!-- Full Name -->
                                                <!-- <input id="lm-email" class="form-control input-lg" type="text" placeholder="Email" name="lm-email" required> -->
                                                <!-- <%#= f.text_field :full_name %> -->
                                                <!-- Phone Number -->
                                                <!-- <input id="lm-email" class="form-control input-lg" type="text" placeholder="Phone" name="lm-email" required> -->
                                                <!-- <%#= f.text_field :phone %> -->
                                                <!-- Email Address -->
                                                <!-- <input id="lm-password" class="form-control input-lg" type="password" placeholder="Name" name="lm-password" required> -->
                                                <!-- <%#= f.text_field :email %> -->

                                                <!-- Login Button -->
                                                <!-- <button class="btn btn-color">Login</button> -->
                                                <!-- <%#= f.submit 'Begin' %> -->
                                                <!-- <%# end %> -->
                                            <!-- </form> -->
                                        </div><!-- /End Login Form -->
                                     </div>
                                </div><!-- /End Login Form Box -->
                                <div class="box">
                                    <!-- Signup Form -->
                                    <div class="content registerBox modal-form" style="display:none;">
                                        <form id="signup-modal" role="form">
                                            <!-- Success/Alert Notification -->

                                            Full Name<BR>
                                            <!-- <p class="sm-success"><i class="icon icon_check_alt2"></i> <strong>Congratulation! Signup modal validation is working. Implement your code.</strong></p> -->
                                            <!-- <p class="sm-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p> -->
                                            <!-- Input Fields -->
                                            <%= f.text_field :full_name %><BR>
                                            Phone Number<BR>
                                            <!-- <input id="sm-email" class="form-control input-lg" type="text" placeholder="Email" name="sm-email" required> -->
                                            <%= f.text_field :phone %><BR>
                                            Email Address<BR>
                                            <!-- <input id="sm-password" class="form-control input-lg" type="password" placeholder="Password" name="sm-password"> -->
                                            <%= f.text_field :email %><BR>
                                            <!-- <input id="sm-confirm" class="form-control input-lg" type="password" placeholder="Repeat Password" name="sm-confirm"> -->
                                            <!-- Signup Button -->
                                            <!-- <button class="btn btn-color">Begin</button> -->


                                        </form>


                                    </div><!-- /End Signup Form -->
                                </div><!-- /End Signup Form Box -->
                            </div><!-- /End Modal-Body -->

                            <!-- Modal-Footer -->
                            <div class="modal-footer">
                                <!-- Login-Footer. Redirect to Signup-Modal-->
                                <!-- <div class="forgot login-footer"> -->
                                <%= f.button :Begin, class: "btn btn-nav btn-color"%>
                                <% end %>
                                    <!-- <span>Don't have an account? -->
                                         <!-- <a href="javascript: showRegisterForm();">Sign up.</a> -->
                                    <!-- </span> -->
                                <!-- </div> -->
                                <!-- Signup-Footer. Redirect to Login-Modal -->
                                <!-- <div class="forgot register-footer" style="display:none">
                                     <span>Already have an account?</span>
                                     <a href="javascript: showLoginForm();">Login</a>
                                </div> -->
                            </div>
                            <!-- /End Modal-Footer -->

                        </div><!-- /End Modal Content -->
                    </div><!-- /End Modal Dialog -->
                </div><!-- /End Modal -->


                <!-- =========================================
                     Hero-Section
                ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">

                                <!-- Welcome - Hero Message -->
                                <h1 class="text-white">Protect &amp; Grow your business.</h1>
                                <p class="text-white">Use technology to improve efficiency.</p>

                                <!-- Learn More & Video Buttons -->
                                <div class="btn-box">
                                    <a href="#about" class="btn btn-ghost scrollto">Learn More</a>
                                    <!-- Video Lightbox on Click -->
                                    <!-- <a href="http://youtu.be/SZEflIVnhH8" data-type="youtube" class="btn btn-color venobox"><i class="icon arrow_triangle-right_alt"></i>Play video</a>
                                </div> -->

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->



        <!-- =================================
             SECTION ABOUT - INTRO FEATURES
        ====================================== -->
        <section class="intro-features" id="about">
            <div class="container">
                <!-- Padding -->
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Section Header Title -->
                        <div class="col-xs-12">
                            <h2>Operate Efficiently</h2>
                            <p class="large">Spend less time worrying about paperwork, and more time doing what you love. CodeAccounting was formed with the goal of simplifying back office support and providing our clients with a more affordable way to manage their finances. Our professional corporation is an all-in-one source for solving the common financial problems that face small- and medium-sized businesses.</p>
                        </div>
                    </div>
                    <!-- Three Main Features with Icons -->
                    <div class="row">
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-browser"></i>
                            </div>
                            <h4>Office Management Support</h4>
                            <p>Accounting, payroll, human resources, tax returns, and financial management. All in one central location with an expert staff ready to answer your toughest questions.</p>
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-mobile"></i>
                            </div>
                            <h4>Customized Service</h4>
                            <p>Our flexible contracts allow you to unburden yourself with minimal disruptions to operations. Hourly prices and rates for special projects are available upon request</p>
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-documents"></i>
                            </div>
                            <h4>Documented and Certified</h4>
                            <p>All financial statements are CPA reviewed and full audit support is provided for our clients. Working papers and company documents are stored and shared online, so you never need to wonder what is happening with your company.</p>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END INTRO FEATURES
        ============================== -->


        <!-- ==================================================
             SECTION 2 COLS - IMAGE RIGHT AND TEXT WITH CALL TO ACTION
        ======================================================= -->
        <section class="img-with-action light-bg">
            <div class="container wrapper-lg">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <!-- Text Col -->
                        <h3>Gather real time insights and analysis</h3>
                        <p>Whether you sell a product, a service, or a hybrid of both, you can be sure your business will remain competitive. Sharing real-time information with all divisions of the company is essential to make the best decisions for your company. With CodeAccounting, you can be sure you know exactly what is going on at any given time.</p>
                        <!-- Call To Action Buttons -->
                        <div class="btn-box">
                            <!-- <a href="#features" class="btn btn-grey scrollto">Learn More</a> -->
                            <a href="#canvas-bg" class="btn btn-color scrollto"><i class="icon arrow_carrot-2dwnn_alt"></i>Sign up now</a>
                        </div>
                        <!-- Div Required for Correct Charts Animation -->
                        <div class="start-charts"></div>
                    </div>
                </div><!-- /End Row-->
            </div><!-- /End Container-->
            <!-- Image Col -->
            <div class="hidden-sm hidden-xs col-md-6 img-col-bg img-right"><%= image_tag "orange.png" %></div>
        </section>
        <!-- =============================
             /END SECTION
        ============================== -->


        <!-- ==================================================
            CHARTS & SHOWCASE SECTION
        ======================================================= -->
        <section class="charts" id="charts">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Grow your business the right way</h2>
                            <p class="large">We help our clients focus on maximizing profits for long term growth or a quick acquisition, depending on the company's needs. Competitive business owners can stay one step ahead by always knowing what needs financial attention and planning adequately for the future.</p>
                        </div>
                    </div>

                    <div class="row doughnut-box">
                        <div class="col-md-5">
                            <!-- Div Required for Correct Line Chart Animation -->
                            <div class="start-line"></div>
                            <!-- Chart Text Description -->
                            <BR><BR><BR><BR><BR><h4>Everything you need to know.</h4>
                            <p>Know what is happening to your money at every stage of growth, and plan ahead to make the best of all opportunities.</p>
                            <p><a href="#canvas-bg" class="scrollto"><strong>Sign up below ›</strong></a></p>
                        </div>
                        <div class="col-md-7">
                            <!-- Doughnut Charts  -->
                           <div id="canvas-holder">
                                <div class="chart-text">
                                  <span>Budgeting <br> and <br>Analysis</span>
                                </div>
                                <canvas id="chart-area" width="400" height="400"></canvas>
                            </div>
                            <div id="canvas2-holder">
                                <div class="chart2-text">
                                  <br>  <span> Projections </span>
                                </div>
                                <canvas id="chart2-area" width="350" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- /End Chart-Box -->

                    <div class="row chart-box">
                        <div class="col-md-6 col-md-push-6 col-sm-12">
                            <!-- Chart Text Description -->
                            <BR><BR><BR><BR><BR><h4>CodeAccounting <strong>takes your company to new heights </strong></h4>
                            <p>A high-quality solution for those who want a reasonably priced accounting service. Don't be overbilled by a traditional accounting firm. Many accounting firms don't take your company's specific needs into consideration, and when they are forced to make up for their lack of oversight, you get hit with an outrageous bill. CodeAccounting has fixed monthly pricing and efficient internal processes that allow our support staff to dedicate extra care and attention to your business.</p>
                            <p><a href="#testimonials" class="scrollto"><strong>See what our clients think ›</strong></a></p>
                        </div>
                        <div class="col-md-6 col-md-pull-6 col-sm-12">
                            <!-- Line Chart -->
                            <div class="line-canvas">
                                <div>
                                    <canvas id="line-canvas" height="450" width="600"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /End Chart-Box -->

                    <div class="row showcase">
                        <div class="col-md-4">
                            <h4>Get updates on your company with the click of a button.</h4>
                            <p>Customized software solutions provide real-time business intelligence. Our flexibility to work with any accounting system, CRM, ERP, or database allows us to build the most streamlined solutions for your financial problems, using the systems that you are familiar with. We do not restrict ourselves to Xero and Quickbooks, so please let us know if you would like to work with other services.</p>
                            <p><a href="#pricing" class="scrollto"><strong>View pricing structure ›</strong></a></p>
                        </div>
                        <div class="col-md-8">
                            <!-- Devices Image -->
                            <div class="img-box">
                                <!-- <img src="assets/images/showcase.png" alt="" class="img-responsive"> -->
                                <%= image_tag "online.png",  :options =>
                                {:align=>"right", :style=>"padding-right: 10px"}  %>
                                <!-- class => "img-responsive" -->
                                <!-- <a href="http://youtu.be/SZEflIVnhH8" data-type="youtube" class="venobox video-player"><i class="icon arrow_triangle-right_alt2 wow fadeIn" data-wow-duration="2s"></i></a> -->
                            </div>
                        </div>
                    </div><!-- /End Chart-Box -->

                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END CHARTS SECTION
        ============================== -->

        <!-- ==================================================
            FEATURES SECTION
        ======================================================= -->
        <section class="tab-features color-bg" id="features">
            <div class="container">
                <div class="features-title">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-white">CodeAccounting</h2>
                            <p class="large text-white">It's more than just a service, it's a way of thinking. <BR>We firmly believe that if something is worth doing, it is worth doing efficiently. <BR>Our goal is to make your business run smoothly and relieve you of tedious accounting and tax compliance work.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =============================
             /END FEATURES TAB
        ============================== -->


        <!-- =============================
             PRICING SECTION
        ============================== -->
        <section class="pricing" id="pricing">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Accounting Services</h2>
                            <p class="large">Choose what suits you best.</p>
                        </div>
                    </div>

                    <!-- Pricing Tabs-->
                    <div class="row grid-md">

                        <div class="col-sm-4">
                            <div class="pricing-tab">
                              <div class="ribbon">
                                <h5 class="popular">Popular</h5>
                              </div>
                              <h4>Cash </h4>
                                <p class="price">$250<span>/month</span></p>
                                <ul class="pricing-features">
                                  <li></li>
                                </ul>
                                <h5>Services:</h5>
                                <ul class="pricing-features">
                                    <li>Xero Accounting Software</li>
                                    <li>Monthly Bookkeeping</li>
                                    <li>Customer Support</li>
                                    <li>Financial Reporting</li>
                                </ul>
                                <a href="#canvas-bg" class="btn btn-color scrollto">Sign Up</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="pricing-tab">
                              <!-- <div class="ribbon">
                                <h5 class="popular">Popular</h5>
                              </div> -->
                              <h4>Accrual</h4>
                                <p class="price">$500<span>/month*</span>
                                <BR><span>+$500 setup fee</span></p>
                                <h5>Services:</h5>
                                <ul class="pricing-features">
                                    <li>Quickbooks Software</li>
                                    <li>"Cash" services, plus:</li>
                                    <li>Payroll Processing</li>
                                    <li>Supporting Schedules</li>
                                </ul>
                                <a href="#canvas-bg" class="btn btn-color scrollto">Sign Up</a>
                                <BR><h6>* Up to 15 employees only,<BR>$175/employee/month thereafter</h6>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="pricing-tab">
                              <h4>Taxes </h4>
                                <h5>Prices:</h5>
                                <ul class="pricing-features">
                                    <li>$300 - Individuals</li>
                                    <li>$500 - Sole Proprietors</li>
                                    <li>$900 - Corporations </li>
                                    <li>$1,000 - Partnerships </li>
                                    <li>$1,250 - Trusts and Estates</li>
                                    <li>$1,500 - Non-Profits</li>
                                    <li>$125/hr - Amendments</li>
                                </ul>
                                <a href="#canvas-bg" class="btn btn-color scrollto">Sign Up</a>
                            </div>
                        </div>




                        <!-- Pricing Footer -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pricing-more" align="center">
                                    <p><strong>Looking for something else?</strong> &mdash; Contact us at (510)706-2877 or <strong> <a href="mailto:sean@codeaccounting.com">send us an email <i class="icon arrow_carrot-right_alt2"></i></a></strong> </p>
                                </div>
                            </div>
                        </div><!-- /End Row Pricing Footer -->

                    </div><!-- /End Row Pricing Tab -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END PRICING SECTION
        ============================== -->

        <!-- ==================================================
        SIGNUP DIVIDER
        ======================================================= -->
        <section id="canvas-bg" class="dark-bg signup-divider">
          <div class="container">
            <div class="wrapper-lg">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="text-white">Get started today!</h2>
                  <p class="large text-white">Enter your information and we will be in contact with you shortly.</p>
                  <!-- Handwritten text with arrow -->
                  <p class="signup-handwritten text-white">No credit card needed<br>Why wait? Start now!</p>
                </div>
              </div>

              <div class="row">
                <!-- Signup Form -->
                <!-- <form id="signup-divider" role="form"> -->
                  <%= form_for Contact.new do |f| %>

                  <!-- Notification -->
                  <!-- <p class="signup-success"><i class="icon icon_check_alt2"></i> <strong>Congratulation! Welcome to 30 day Free Trial. Check your email address.</strong></p> -->
                  <!-- <p class="signup-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p> -->

                  <!-- Input fields -->
                  <div class="form-group">
                    <font color=white> Full Name </font><BR>
                    <!-- <input type="email" name="signup-email" id="signup-email" class="form-control input-lg" placeholder="Enter your Email Address" required >  -->
                    <%= f.text_field :full_name %>
                  </div>
                  <div class="form-group">
                    <font color=white>Phone Number </font><BR>
                    <!-- <input type="phone" name="signup-phone" id="signup-phone" class="form-control input-lg" placeholder="Enter your Phone Number" required >  -->
                    <%= f.text_field :phone %>
                  </div>
                  <div class="form-group">
                    <font color=white>Email Address </font><BR>
                    <!-- <input type="name" size="25" name="signup-name" id="signup-name" class="form-control input-lg" placeholder="Enter your Name" required >  -->
                    <%= f.text_field :email %>

                  </div>
                  <!-- Signup Button -->
                  <!-- <button class="btn btn-color">Begin <i class="icon arrow_right"></i></button> -->
                  <BR><BR><%= f.button :begin, class: "btn btn-nav btn-color" %>
                <!-- </form> -->
                <% end %>





              </div><!-- /End Row -->
            </div><!-- /End Wrapper -->
          </div><!-- /End Container -->
        </section>
        <!-- =============================
        /END SIGNUP SECTION
        ============================== -->


        <!-- =======================================================
             TESTIMONIALS WITH PRESS/CLIENTS LOGOS
        ============================================================ -->
        <section class="testimonial-press light-bg" id="testimonials">
            <div class="container vmiddle">
                <div class="row">
                    <div class="col-md-12">
                        <h2>What our clients are saying</h2>
                        <p class="large">Why other businesses love our services: </p>
                    </div>
                </div>
                <div class="row">
                    <div class="tabs testimonials tab-container">
                        <div class="col-md-8">
                            <div class="panel-container">
                                <div class="tab-block" id="tab-testimonials-1">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p> As a small and evolving company, we are thrilled to have found a trusted partner in CodeAccounting. CodeAccounting is as invested in our success as we are. Responsive and thorough in communication, we know CodeAccounting will research and stay up-to-date on changes in our business. We are kept aware of potential issues and guided on paths to keep our business running and profitable. </p>
                                        <!-- Testimonial image -->
                                        <!-- <img src="assets/images/testimonials/testimonial-1.jpg" alt=" "> -->
                                        <%= image_tag "testimonial-1.jpg" %>
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Cristina Gastelu-Villareal</span>Managing Director at Seasons Productions</p>
                                        <!-- LoremIpsum Corp. -->
                                    </blockquote>
                                </div>
                                <div class="tab-block" id="tab-testimonials-3">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p> CodeAccounting has helped our company realize its full potential. Their services have allowed us to focus on customers with the comfort that we are still earning the most on our investments. </p>
                                        <!-- Testimonial image -->
                                        <!-- <img src="assets/images/testimonials/testimonial-3.jpg" alt=" "> -->
                                        <%= image_tag "testimonial-3.jpg" %>
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Lara M. Wilson</span>CEO of Bountiful Botanicals Inc.</p>
                                        <!-- Agency Conglomerate -->
                                    </blockquote>
                                </div>
                            </div><!-- /End Panel-container -->
                        </div><!-- /End Col -->



                        <!-- <div class="tab-block" id="tab-testimonials-4">
                            <blockquote> -->
                                <!-- Testimonial quote -->
                                <!-- <p>I know that any company will be in good hands with CodeAccounting.</p> -->
                                <!-- Testimonial image -->
                                <!-- <img src="assets/images/testimonials/testimonial-4.jpg" alt=" "> -->
                                <!-- <%#= image_tag "testimonial-4.jpg" %> -->
                                <!-- Testimonial info -->
                                <!-- <p class="testimonial-name"><span>Vanessa Franks</span>CEO of Vanessa Franks DDS, Inc.</p> -->
                                <!-- IpsumSite.io -->
                            <!-- </blockquote> -->
                        <!-- </div> -->
                        <!-- /End Tab-block -->
                        <!-- <div class="tab-block" id="tab-testimonials-2">
                            <blockquote> -->
                                <!-- Testimonial quote -->
                                <!-- <p>You need CodeAccounting managing your finances.</p> -->
                                <!-- Testimonial image -->
                                <!-- <img src="assets/images/testimonials/testimonial-2.jpg" alt=" "> -->
                                <!-- <%#= image_tag "testimonial-2.jpg" %> -->
                                <!-- Testimonial info -->
                                <!-- <p class="testimonial-name"><span>Colleen Kavanagh</span>CEO at Zego</p> -->
                                <!-- StartupIpsum Inc. -->
                            <!-- </blockquote> -->
                        <!-- </div> -->
                        <!-- /End Tab-block -->

                        <ul class="etabs col-md-4 list-unstyled">
                            <li class="tab col-md-6">
                                <a href="#tab-testimonials-1">
                                    <!-- Testimonial logo -->
                                    <!-- <img src="assets/images/press-logos/press-3.png" alt=""> -->
                                    <%= image_tag "press-Seasons.png" %>
                                </a>
                            </li>
                            <!-- <li class="tab col-md-6">
                                <a href="#tab-testimonials-2"> -->
                                    <!-- Testimonial logo -->
                                    <!-- <img src="assets/images/press-logos/press-2.png" alt=""> -->
                                    <%#= image_tag "press-Zego.png" %>
                                <!-- </a>
                            </li> -->
                            <li class="tab col-md-6">
                                <a href="#tab-testimonials-3">
                                    <!-- Testimonial logo -->
                                    <!-- <img src="assets/images/press-logos/press-1.png" alt=""> -->
                                    <%= image_tag "press-Lara.png" %>
                                </a>
                            </li>
                            <!-- <li class="tab col-md-6">
                                <a href="#tab-testimonials-4"> -->
                                    <!-- Testimonial logo -->
                                    <!-- <img src="assets/images/press-logos/press-4.png" alt=""> -->
                                    <%#= image_tag "press-Vanessa.png" %>
                                <!-- </a>
                            </li> -->
                        </ul><!-- /End Etabs -->

                    </div><!-- /End Tabs -->
                </div><!-- /End Row -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END TESTIMONIALS
        ============================== -->



        <!-- ==================================================
            NEWSLETTER AND SOCIAL DIVIDER
        ======================================================= -->
        <section class="newsletter color-bg" id="newsletter">
            <div class="container">
                <div class="wrapper-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- =========================
                                Social Icons
                            ============================== -->
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell follow">
                                        <h5 class="table-title">Contact Us</h5>
                                    </div>
                                    <div class="table-cell">
                                        <ul class="social-list">
                                            <li>
                                                <a href="http://www.facebook.com/codeaccounting1">
                                                    <i class="icon icon-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.twitter.com/codeaccounting">
                                                    <i class="icon icon-twitter"></i>
                                                </a>
                                            </li>
                                            <!-- <li>
                                                <a href="https://plus.google.com/110002049645464995736">
                                                    <i class="icon icon-googleplus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.linkedin.com/in/codeaccounting">
                                                    <i class="icon icon-linkedin"></i>
                                                </a>
                                            </li> -->
                                        </ul>
                                    </div><!-- /End Table-Cell -->
                                </div><!-- /End Table-Row -->
                            </div><!-- /End Table -->
                        </div><!-- /End Col -->

                        <div class="col-md-6">


                            <div class="col-md-8">
                              <!-- <h5 class="text-white">Our Contact</h5> -->
                              <div class="contact-item">
                                <div class="contact-icon">
                                  <i class="icon icon_mail"></i>
                                </div>
                                <div class="contact-content">
                                  <a href="mailto:seanthefinanceguy@gmail.com">sean@codeaccounting.com</a>
                                </div>
                                <div><BR></div>
                                <div class="contact-icon">
                                  <i class="icon icon_phone"></i>
                                </div>
                                <div class="contact-content">
                                  (510)706-2877
                                </div>
                              </div>
                            </div>

                            <div class="col-md-4">
                              <div class="contact-item">
                                <div class="contact-icon">
                                  <i class="icon icon_pin"></i>
                                </div>
                                <div class="contact-content">
                                  249 W. Jackson Street #260<br>
                                  Hayward, CA 94544
                                </div>
                              </div>
                            </div>

                            <!-- <div class="col-lg-4">
                              <div class="contact-item">
                                <div class="contact-icon">
                                  <i class="icon icon_phone"></i>
                                </div>
                                <div class="contact-content">
                                  (510)706-2877
                                </div>
                              </div>
                            </div> -->


                        </div>
                        <!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END NEWSLETTER SECTION
        ============================== -->


        <!-- ==================================================
            FOOTER
        ======================================================= -->
        <footer class="footer dark-bg" id="footer">

                        <!-- Footer Menu and Copy -->
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="footer-nav">
                                    <li>
                                        <a href="#about" title="" class="scrollto">About</a>
                                    </li>
                                    <li>
                                      <a href="#charts" title="" class="scrollto">Features</a>
                                    </li>
                                    <li>
                                      <a href="#pricing" title="" class="scrollto">Pricing</a>
                                    </li>
                                    <li>
                                      <a href="#testimonials" title="" class="scrollto">Testimonials</a>
                                    </li>
                                    <li>
                                      <a href="#canvas-bg" title="" class="scrollto">Sign up</a>
                                    </li>
                                </ul>
                                <p class="footer-copy">&copy; 2015 CodeAccounting - a Professional Corporation</p>
                                <p><br><br><br></p>
                            </div>
                        </div>

                    </div>
                    <!-- End Row -->
                <!-- </div> -->
                <!-- /End Wrapper -->
            <!-- </div> -->
            <!-- /End Container -->
        </footer>

    </div><!-- /End Main Wrapper -->


    <!-- =========================
         SCRIPTS
    ============================== -->
    <!-- <script src="assets/js/plugins/jquery1.11.0.min.js"></script> -->
    <%= javascript_include_tag "jquery1.11.0.min.js" %>
    <!-- <script src="assets/js/plugins/bootstrap.min.js"></script> -->
    <%= javascript_include_tag "bootstrap.min.js" %>
    <!-- <script src="assets/js/plugins/jquery.easing.1.3.min.js"></script> -->
    <%= javascript_include_tag "jquery.easing.1.3.min.js" %>
    <!-- <script src="assets/js/plugins/modernizr.custom.min.js"></script> -->
    <%= javascript_include_tag "modernizr.custom.min.js" %>
    <!-- <script src="assets/js/plugins/plugins.min.js"></script> -->
    <%= javascript_include_tag "plugins.min.js" %>
    <!-- <script src="assets/js/plugins/twitter/tweetie.min.js"></script> -->
    <%= javascript_include_tag "tweetie.min.js" %>
    <!-- Custom Script -->
    <!-- <script src="assets/js/custom.js"></script> -->
    <%= javascript_include_tag "custom.js" %>



</body>
</html>

<!-- =========================
MAILCHIMP SUBSCRIPTION FORM
============================== -->
<!-- <form class="mailchimp-subscribe" role="form">
<div class="table">
<div class="table-row">
<div class="table-cell getnewsletter">
<h5 class="table-title">Get CodeAccounting Updates</h5>
</div>
<div class="table-cell">
<div class="input-group text-white"> -->
<!-- Input Form -->
<!-- <input type="email" id="subscriber-email" name="email" placeholder="Your email address" class="form-control"> -->
<!-- Submit Button -->
<!-- <span class="input-group-btn"> -->
<!-- <button class="btn btn-white">Subscribe</button> -->
<!-- </span> -->
<!-- </div> -->
<!-- /End Input Group -->
<!-- </div> -->
<!-- /End Table-Cell -->
<!-- </div> -->
<!-- /End Table-Row -->
<!-- </div> -->
<!-- /End Table -->
<!-- <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2"> -->
<!-- Notifications -->
<!-- <p class="mc-success"></p>
<p class="mc-failed"></p>
</div>
</form> -->
<!-- /End Mailchimp Subscribe Form -->

<!-- =========================
LOCAL SUBSCRIPTION FORM
============================== -->
<!-- ALTERNATE USE: SAVE YOUR SUBSCRIBE LIST IN .TXT

<form id="subscribe" role="form">
<div class="table">
<div class="table-row">
<div class="table-cell getnewsletter">
<h5 class="table-title">Get the Newsletter</h5>
</div>
</div>
<div class="table-cell">
<div class="input-group">
<input type="email" id="s-email" name="email" placeholder="Your email address" class="form-control">
<span class="input-group-btn">
<button class="btn btn-color">Submit</button>
</span>
</div>
</div>
</div>
<div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
<p class="subscription-success"><i class="icon icon_check_alt2"></i> You are successfully subscribed for our newsletter.</p>
<p class="subscription-failed"><i class="icon icon_close_alt2"></i> Something went wrong!</p>
</div>
</form>
-->


<!-- <div class="container"> -->
<!-- <div class="wrapper-lg"> -->
<!-- <div class="row"> -->
<!-- Footer Left Col -->
<!-- <div class="col-md-5"> -->
<!-- Logo -->
<!-- <a href="#top" class="scrollto" title="CodeAccounting">
<span class="text-logo">CodeAccounting</span>
</a> -->
<!-- <p class="footer-hero"><strong>600.000</strong> users registered since January.<br> -->
<!-- We've created the solution to help your company achieve better results.</p>
<p class="footer-cta">What are you waiting for?
<a href="#top" class="btn btn-color">Sign up now</a>
</p>
</div> -->

<!-- Footer Center Col: Twitter Feed -->
<!-- <div class="col-md-4">
<h5 class="text-white"></h5>
<div></div>
</div> -->
<!-- Footer Contact Col -->
<!-- <div class="col-md-3">
<h5 class="text-white">Our Contact</h5>
<div class="contact-item">
<div class="contact-icon">
<i class="icon icon_mail"></i>
</div>
<div class="contact-content">
<a href="mailto:ceo@codeaccounting.com">ceo@codeaccounting.com</a>
</div>
</div>
<div class="contact-item">
<div class="contact-icon">
<i class="icon icon_pin"></i>
</div>
<div class="contact-content">
121 King Street<br>
San Francisco, CA
</div>
</div>
<div class="contact-item">
<div class="contact-icon">
<i class="icon icon_phone"></i>
</div>
<div class="contact-content">
(510)706-2877
</div>
</div>
</div> -->
